<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ header.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="description" content="Sunshine - Responsive vCard Template"/>
    <meta name="keywords" content="vcard, resposnive, retina, resume, jquery, css3, bootstrap, Sunshine, portfolio"/>
    <meta name="author" content="lmtheme"/>
    <link rel="shortcut icon" href="../favicon.ico">

    <link rel="stylesheet" href="{{ header.themeUrl }}/templates/css/bootstrap.css">
    <link rel="stylesheet" href="{{ header.themeUrl }}/templates/css/normalize.css">
    <link rel="stylesheet" href="{{ header.themeUrl }}/templates/css/transition-animations.css">
    <link rel="stylesheet" href="{{ header.themeUrl }}/templates/css/owl.carousel.css">
    <link rel="stylesheet" href="{{ header.themeUrl }}/templates/css/magnific-popup.css">
    <link rel="stylesheet" href="{{ header.themeUrl }}/templates/css/animate.css">
    <link rel="stylesheet" href="{{ header.themeUrl }}/templates/css/main.css" type="text/css">

    <script src="{{ header.themeUrl }}/templates/js/jquery-2.1.3.min.js"></script>
    <script src="{{ header.themeUrl }}/templates/js/modernizr.custom.js"></script>
</head>