<script src="{{ header.themeUrl }}/templates/js/bootstrap.min.js"></script>
{#<script src="{{ header.themeUrl }}/templates/js/page-transition.js"></script>#}
<script src="{{ header.themeUrl }}/templates/js/imagesloaded.pkgd.min.js"></script>
<script src="{{ header.themeUrl }}/templates/js/validator.js"></script>
<script src="{{ header.themeUrl }}/templates/js/jquery.shuffle.min.js"></script>
<script src="{{ header.themeUrl }}/templates/js/masonry.pkgd.min.js"></script>
<script src="{{ header.themeUrl }}/templates/js/owl.carousel.min.js"></script>
<script src="{{ header.themeUrl }}/templates/js/jquery.magnific-popup.min.js"></script>
<script src="{{ header.themeUrl }}/templates/js/jquery.hoverdir.js"></script>
<script src="{{ header.themeUrl }}/templates/js/main.js"></script>


